/* src/pages/Projects.module.css 
.projects {
    padding: 100px 0;
  }*/
  .projects {
    padding: 100px 0;
    background-color: #f9f9f9; /* Set a light background */
    color: #333; /* Set a dark text color */
}

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .projectCard {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .projectCard:hover {
    transform: translateY(-5px);
  }
  
  .projectCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .projectInfo {
    padding: 20px;
  }
  
  .projectInfo h3 {
    margin-bottom: 10px;
  }